# Missions to Mars
 
This work presents an app construction that shows latest data about planet mars.

* XXX
* XXX

In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import datetime as dt
from splinter import Browser
import pandas as pd

In [2]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
#Assign the text to variables that you can reference later.

# Windows Users or Mac users
import os
if os.name=="nt":
    executable_path = {'executable_path': './chromedriver.exe'}
else:
    executable_path = {"executable_path": "/usr/local/bin/chromedriver"}

In [3]:
browser = Browser('chrome', **executable_path, headless=True)

In [4]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [5]:
#import time

titles = []
paragraphs = []
   
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain articles information
infos = soup.find_all('div', class_="list_text")

for info in infos:
    title = info.find('a').text.strip()
    paragraph = info.find( class_='article_teaser_body').text.strip()
    
    titles.append(title)
    paragraphs.append(paragraph)
        
    print('--'*20)
    print(title)
    print(paragraph)
        
    
print('--'*30)
print(f"found titles: {len(titles)}, and paragraphs: {len(paragraphs)} on this page")

----------------------------------------
The Detective Aboard NASA's Perseverance Rover
An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.
----------------------------------------
MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss
Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.
----------------------------------------
Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch
A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff.
----------------------------------------
NASA Wins 4 Webbys, 4 People's Voice Awards
Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA's Global Climate Change website and Solar System Interactive.
----------------------------------------
NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound
The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.
----------------------------------------
NASA's Perseverance Rover Mission Getting in Shape for Launch
Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet.
----------------------------------------
NASA Perseverance Mars Rover Scientists Train in the Nevada Desert
Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year.
----------------------------------------
NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'
A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.
----------------------------------------
Meet the People Behind NASA's Perseverance Rover
These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater.
----------------------------------------
Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter
As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.
----------------------------------------
Alabama High School Student Names NASA's Mars Helicopter
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.
----------------------------------------
How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus
Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.
----------------------------------------
NASA's Perseverance Mars Rover Gets Balanced
The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet.
----------------------------------------
NASA's Curiosity Keeps Rolling As Team Operates Rover From Home
The team has learned to meet new challenges as they work remotely on the Mars mission.
----------------------------------------
Mars Helicopter Attached to NASA's Perseverance Rover
The team also fueled the rover's sky crane to get ready for this summer's history-making launch.
----------------------------------------
NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes
After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.
----------------------------------------
The Man Who Wanted to Fly on Mars
The Mars Helicopter is riding to the Red Planet this summer with NASA's Perseverance rover. The helicopter's chief engineer, Bob Balaram, shares the saga of how it came into being.
----------------------------------------
10.9 Million Names Now Aboard NASA's Perseverance Mars Rover
As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.
----------------------------------------
NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb
Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.
----------------------------------------
NASA's Mars Perseverance Rover Gets Its Sample Handling System
The system will be collecting and storing Martian rock and soil. Its installation marks another milestone in the march toward the July launch period.
----------------------------------------
Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.
----------------------------------------
NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet
To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.
----------------------------------------
NASA to Reveal Name of Its Next Mars Rover
After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday.
----------------------------------------
The MarCO Mission Comes to an End
The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.
----------------------------------------
A Year of Surprising Science From NASA's InSight Mars Mission
A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet.
----------------------------------------
Mars InSight Lander to Push on Top of the 'Mole'
Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.
----------------------------------------
Common Questions about InSight's 'Mole'
The following Q&As with members of the team answer some of the most common questions about the burrowing device, part of a science instrument called the Heat Flow and Physical Properties Package (HP3).
----------------------------------------
NASA Adds Return Sample Scientists to Mars 2020 Leadership Team
The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.
----------------------------------------
NASA's Mars Reconnaissance Orbiter Undergoes Memory Update
Other orbiters will continue relaying data from Mars surface missions for a two-week period.
----------------------------------------
NASA's Mars 2020 Rover Goes Coast-to-Coast to Prep for Launch
The agency's first step in returning rocks from Mars just arrived at Kennedy Space Center. The Mars 2020 team now begins readying for a launch to the Red Planet this July.
----------------------------------------
NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network
Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.
----------------------------------------
NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget
Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return.
----------------------------------------
All About the Laser (and Microphone) Atop Mars 2020, NASA's Next Rover
SuperCam is a rock-vaporizing instrument that will help scientists hunt for Mars fossils.
----------------------------------------
NASA's MAVEN Explores Mars to Understand Radio Interference at Earth
NASA’s MAVEN spacecraft has discovered “layers” and “rifts” in the electrically charged part of the upper atmosphere of Mars.
----------------------------------------
Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest
Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite.
----------------------------------------
NASA's Mars 2020 Rover Closer to Getting Its Name
155 students from across the U.S. have been chosen as semifinalists in NASA's essay contest to name the Mars 2020 rover, and see it launch from Cape Canaveral this July.
----------------------------------------
Media Get a Close-Up of NASA's Mars 2020 Rover
The clean room at NASA's Jet Propulsion Laboratory was open to the media to see NASA's next Mars explorer before it leaves for Florida in preparation for a summertime launch.
----------------------------------------
Space History Is Made in This NASA Robot Factory
From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.
----------------------------------------
NASA's Mars 2020 Rover Completes Its First Drive
In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.
----------------------------------------
NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate
Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.
------------------------------------------------------------
found titles: 40, and paragraphs: 40 on this page

In [6]:
Mars_news = pd.DataFrame({
    "Titles": titles,
    "Paragraphs" : paragraphs
})
Mars_news.head()

,Titles,Paragraphs
0,The Detective Aboard NASA's Perseverance Rover,"An instrument called SHERLOC will, with the he..."
1,MAVEN Maps Electric Currents around Mars that ...,Five years after NASA’s MAVEN spacecraft enter...
2,Air Deliveries Bring NASA's Perseverance Mars ...,A NASA Wallops Flight Facility cargo plane tra...
3,"NASA Wins 4 Webbys, 4 People's Voice Awards","Winners include the JPL-managed ""Send Your Nam..."
4,NASA's Perseverance Rover Goes Through Trials ...,The agency's new Mars rover is put through a s...

In [7]:
len(Mars_news)

40

In [214]:
Mars_news.to_csv("output/mars_news.csv")

In [215]:
mars_news = pd.read_csv("output/mars_news.csv")
del mars_news['Unnamed: 0']
mars_news.head()

,Titles,Paragraphs
0,The Detective Aboard NASA's Perseverance Rover,"An instrument called SHERLOC will, with the he..."
1,MAVEN Maps Electric Currents around Mars that ...,Five years after NASA’s MAVEN spacecraft enter...
2,Air Deliveries Bring NASA's Perseverance Mars ...,A NASA Wallops Flight Facility cargo plane tra...
3,"NASA Wins 4 Webbys, 4 People's Voice Awards","Winners include the JPL-managed ""Send Your Nam..."
4,NASA's Perseverance Rover Goes Through Trials ...,The agency's new Mars rover is put through a s...

In [11]:
browser = Browser('chrome', **executable_path, headless=True)

In [12]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars#submit'
browser.visit(url)

In [10]:
featured_image_urls = []
   
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain articles information
infos = soup.find_all('div', class_="img")

for info in infos:
# https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23931-640x350.jpg

    link = info.find('img')
    href = link['src']
    
    print('https://www.jpl.nasa.gov' + href)  
    
    featured_image_urls.append('https://www.jpl.nasa.gov' + href)
    print('--'*20)
        
    
print('--'*30)
print(f"found {len(featured_image_urls)} image links on this page")

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23932-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23931-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23930-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23929-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23928-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23927-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23926-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23910-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23909-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23908-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23907-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23906-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23905-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23904-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23903-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23902-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23901-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23860-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23859-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23858-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23857-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23856-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23845-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23844-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23843-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23842-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23841-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23855-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23854-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23853-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23852-640x350.jpg
----------------------------------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23840-640x350.jpg
----------------------------------------
------------------------------------------------------------
found 32 image links on this page

In [15]:
browser = Browser('chrome', **executable_path, headless=True)

In [16]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [18]:
mars_weather = []
   
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain articles information
infos = soup.find_all('span', class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")
#class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"

for info in infos: 
    weather = info.text.strip()
    if (weather!="" and weather[0]=='I'):
        mars_weather.append(weather)
        print(weather)
        print('--'*20)
     
print(f"found {len(mars_weather)} posts about Mars weather")

InSight sol 535 (2020-05-29) low -91.3ºC (-132.4ºF) high -2.7ºC (27.2ºF)
winds from the SW at 5.2 m/s (11.5 mph) gusting to 16.7 m/s (37.3 mph)
pressure at 7.20 hPa
----------------------------------------
InSight sol 534 (2020-05-27) low -92.8ºC (-135.1ºF) high 0.9ºC (33.7ºF)
winds from the SW at 4.8 m/s (10.8 mph) gusting to 18.8 m/s (42.1 mph)
pressure at 7.20 hPa
----------------------------------------
InSight sol 533 (2020-05-27) low -92.8ºC (-135.1ºF) high -6.7ºC (19.9ºF)
winds from the SW at 6.4 m/s (14.2 mph) gusting to 21.3 m/s (47.5 mph)
pressure at 7.20 hPa
----------------------------------------
InSight sol 532 (2020-05-26) low -93.1ºC (-135.7ºF) high -1.1ºC (30.0ºF)
winds from the SW at 4.9 m/s (10.9 mph) gusting to 17.7 m/s (39.6 mph)
pressure at 7.10 hPa
----------------------------------------
found 4 posts about Mars weather

In [57]:
item = mars_weather[1]
item[8:]

'sol 534 (2020-05-27) low -92.8ºC (-135.1ºF) high 0.9ºC (33.7ºF)\nwinds from the SW at 4.8 m/s (10.8 mph) gusting to 18.8 m/s (42.1 mph)\npressure at 7.20 hPa'

In [54]:
type(item)

str

In [42]:
url = 'https://space-facts.com/mars/'

In [43]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [44]:
mars_facts_df = tables[0]
mars_facts_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [47]:
mars_facts_df = mars_facts_df.rename(columns={0:"Parameter", 1:"Value"})
mars_facts_df

              Parameter                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [48]:
len(mars_facts_df)

9

In [49]:
mars_facts_df.set_index('Parameter', inplace=True)
mars_facts_df

                                              Value
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [50]:
mars_facts_df.to_html('mars_facts.html')

In [52]:
mars_dict = mars_facts_df.to_dict()
mars_dict

{'Value': {'Equatorial Diameter:': '6,792 km',
  'Polar Diameter:': '6,752 km',
  'Mass:': '6.39 × 10^23 kg (0.11 Earths)',
  'Moons:': '2 (Phobos & Deimos)',
  'Orbit Distance:': '227,943,824 km (1.38 AU)',
  'Orbit Period:': '687 days (1.9 years)',
  'Surface Temperature:': '-87 to -5 °C',
  'First Record:': '2nd millennium BC',
  'Recorded By:': 'Egyptian astronomers'}}

In [258]:
browser = Browser('chrome', **executable_path, headless=True)

In [259]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [260]:
hemisph_images = {}
   
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain articles information
infos = soup.find_all('div', class_="item")

for info in infos:

    link = info.find('img')
    href = link['src']
    
    description = info.find('div', class_="description")
    h3 = description.find('h3').text.strip()
    
    hemisph_images.update( {h3 : 'https://astrogeology.usgs.gov' + href} )
    print(h3)
    print('https://astrogeology.usgs.gov' + href)
    print('--'*20)
        
print(f"found {len(hemisph_images)} high-resolution images and their links")

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png
----------------------------------------
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png
----------------------------------------
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png
----------------------------------------
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png
----------------------------------------
found 4 high-resolution images and their links

In [264]:
len(hemisph_images)

4

In [261]:
hemisphere_image_urls = []

for item in hemisph_images:
    hemisphere_image_urls.append({"title":item, "img_url":hemisph_images[item]})
    
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [13]:
import random

In [19]:
len(mars_weather)

4

In [27]:
i3 = random.randint(0, (len(mars_weather)-1))
i3

0